@font-face {
  font-family: akko;
  src: url(/assets/fonts/akko.otf);
}

@font-face {
  font-family: soho;
  src: url(/assets/fonts/soho.otf);
}

/* menu begin */
.menu {
  width: 80%;
  max-width: 1200px;

  margin: 0 auto;
}

.logo {
  width: 45px;
  height: 45px;
}

.logocbs {
  width: 55px;
  height: 55px;
  margin-left: 10px;
}

.nav-list {
  margin: 0 auto;
  background: white;
  padding: 30px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  font-family: akko;
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
}
.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a:hover {
  color: #9373b1;
}

.nav-item:first-child {
  margin-right: auto;
}

.nav-item:last-child {
  margin-right: 0;
}

/* menu eind */

/* text */
h1 {
  color: #eeeded;
  font-family: soho;
  font-size: 4rem;
  text-align: center;
}

h2 {
  color: #eeeded;
  font-family: soho;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}

h3 {
  font-family: soho;
  color: #163a72;
  padding: 0 0 0 20px;
}

p {
  font-family: akko;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 0 20px 0 20px;
}

/* text eind */

main {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, 1fr);
  grid-auto-flow: dense;
}

.heroHome {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  background-color: #9373b1;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.heroVoeding {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  background-image: url(/assets/img/eten.jpg);
  background-color: #9373b1;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: grid;
  align-items: center;
}

.textbox {
  width: 40%;
  text-align: left;
  display: inline-block;
  margin-left: 5%;
  margin-top: 5%;
}

.card {
  margin-top: 2rem;
  background-color: white;
  -webkit-box-shadow: 5px 10px 13px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 10px 13px 3px rgba(0, 0, 0, 0.2);
}

.columnimage {
  width: 100%;
  overflow: hidden;
}

.button {
  font-family: AkkoW01-Regular, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #163a72;
  padding: 15px;
  margin: 20px 0 20px 20px;
  border-radius: 5px;
  background-color: #9373b1;
  color: white;
  display: inline-block;
}
